<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="articles">
        <% if @articles.any? %>
          <% @articles.each do |article| %>
            <h4><%= article.title %></h4>
            <p><%= article.year %></p>
            <p><%= article.author.first_name %> <%= article.author.last_name %> </p>
            <p><%= article.content %></p>
          <% end %>
        <% else %>
          <em>Sorry, no articles found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
